@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fcfcfd;
  --color-background-secondary: #f2f2f4;
  --color-foreground: #1e1e24;
  --color-foreground-secondary: #5b5b66;
  --color-primary: #6366f1;
  --color-primary-foreground: #ffffff;
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-accent: #8b5cf6;
  --color-accent-50: #faf5ff;
  --color-accent-100: #f3e8ff;
  --color-accent-200: #e9d5ff;
  --color-accent-300: #d8b4fe;
  --color-accent-400: #c084fc;
  --color-accent-500: #a855f7;
  --color-accent-600: #9333ea;
  --color-accent-700: #7e22ce;
  --color-accent-800: #6b21a8;
  --color-accent-900: #581c87;
  --color-secondary: #e4e4e7;
  --color-secondary-foreground: #18181b;
  --color-success: #10b981;
  --color-success-light: #34d399;
  --color-success-dark: #059669;
  --color-warning: #f59e0b;
  --color-warning-light: #fbbf24;
  --color-warning-dark: #d97706;
  --color-error: #ef4444;
  --color-error-light: #f87171;
  --color-error-dark: #dc2626;
  --color-muted: #e4e4e7;
  --color-muted-foreground: #71717a;
  --color-border: #d4d4d8;
  --color-ring: #d4d4d8;
}

.dark {
  --color-background: #13131a;
  --color-background-secondary: #1b1b25;
  --color-foreground: #ececf1;
  --color-foreground-secondary: #adadb7;
  --color-primary: #6366f1;
  --color-primary-foreground: #ffffff;
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-accent: #8b5cf6;
  --color-accent-50: #faf5ff;
  --color-accent-100: #f3e8ff;
  --color-accent-200: #e9d5ff;
  --color-accent-300: #d8b4fe;
  --color-accent-400: #c084fc;
  --color-accent-500: #a855f7;
  --color-accent-600: #9333ea;
  --color-accent-700: #7e22ce;
  --color-accent-800: #6b21a8;
  --color-accent-900: #581c87;
  --color-secondary: #3f3f46;
  --color-secondary-foreground: #f5f5f7;
  --color-success: #10b981;
  --color-success-light: #34d399;
  --color-success-dark: #059669;
  --color-warning: #f59e0b;
  --color-warning-light: #fbbf24;
  --color-warning-dark: #d97706;
  --color-error: #ef4444;
  --color-error-light: #f87171;
  --color-error-dark: #dc2626;
  --color-muted: #3f3f46;
  --color-muted-foreground: #71717a;
  --color-border: #27272a;
  --color-ring: #3f3f46;
}
